{% extends 'main.html' %}

{% block content %}
<div class="container">
  <div class="row mr-5">
    <div class="col-11 mr-0">
      <div class="d-flex flex-wrap row-hl">
        {% for image in images %}
        <div class="p-1 item-hl">
          <a href="{{ image.file.url }}" target="_">
            <img src="{{ image.file.url }}" width="180">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-1 col-auto">
      <a href="{% url 'index_list' %}" class="btn btn-warning mt-1">Turn to list view</a>
    </div>
  </div>
</div>
{% endblock %}
