{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  {% if entries %}
  <div class="col-10 offset-1">
    <table class="table w-80">
      <thead>
        <tr>
          <th class="h5">Article</th>
          <th class="h5">Quantity</th>
          <th class="h5">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <th scope="row" class="prodname">{{ entry.product.name }}
            <a href="{% url 'store:remove' entry.product.pk %}" class="del text-danger ml-2">✕</a>
          </th>
          <td>{{ entry.quantity }}</td>
          <td>{{ entry.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tr>
    </table>

    <form method="POST" enctype="multipart/form-data"
      class="d-flex justify-content-between mt-3">
      {% csrf_token %}
      <ul class="list-unstyled mt-2">
        <li>Full Name: <span class="h6">{{ user.name }}</span></li>
        <li class="mt-1">Phone: <span class="h6">{{ user.phone }}</span></li>
      </ul>
      <div class="p-8 ml-3">{{ form|crispy }}</div>
      <div class="p-4 mr-5 pr-5">
        <button type="submit"
          class="btn btn-danger btn-lg float-center align-self-right">Buy for
          ${{ total_price }}
        </button>
      </div>
    </form>

  </div>
  {% else %}
  <div class="col-6 offset-3 mt-4">
    <p class="display-4 mt-5">Your cart is empty</p>
  </div>
  {% endif %}
</div>
	
<script>
$( "th" ).hover(
  function() {
    $( '.del' ).css("visibility", "");
  }, function() {
    $( '.del' ).css("visibility", "hidden");
  }
);
</script>
{% endblock %}