{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}v

{% block content %}

<div class="container position-fixed">
  <form>
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Select</button>
  </form>
</div>

<div class="container">
  <div class="row ml-2">
    <div class="col">
      <div class="d-flex flex-wrap row-hl">
        {% for product in products %}
        <div class="card m-2" style="width:12rem;">
          
          {% if product.photo %}
          <img class="card-img-top" style="object-fit:scale-down; height: 15rem; width: 100%" src="{{ product.photo.url }}">
          {% else %}
          <img class="card-img-top" style="object-fit:scale-down; height: 15rem; width: 100%" src="media/products/not_available.jpg">
          {% endif %}
            
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mb-1">{{ product.name }}</h4>
            <small class="mb-2 text-secondary">{{ product.category }}</small>
            <h6 class="card-text text-bold">${{ product.price }}</h6>
            <p class="card-text pb-auto">{{ product.description }}</p>
            <a href="{% url 'store:add_to_cart' product.pk %}" class="btn btn-warning btn-block mt-auto font-weight-bold">Add to Cart</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}